@import "tailwindcss";

/* ---------- Global Styles ---------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background-color: #09090B;

  color: white;

  font-family: "Inter", sans-serif;
}

/* Headings */
:root {
  --font-heading: "Space Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}
